body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  p a {
    text-decoration: none;
  }
  
  a {
    color: #1e88e5;
  }
  